<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ShivOm Pandey</mat-card-title>
      <mat-card-subtitle>Co-Founder</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://lh3.googleusercontent.com/-kPax8V4z0vI/AAAAAAAAAAI/AAAAAAAAAF8/2xn9hlX97wE/photo.jpg?sz=328" alt="Photo of a ShivOm">
    <mat-card-content>
      <p>
          Experienced in creating logical and innovative solutions to complex problems using numerous technologies ,framework.
          A pragmatic and ambitious problem solver with a passion for the profession, desiring to join a team of innovative developers with the strong power of firm determination.
      </p>
    </mat-card-content>

  </mat-card>
